*Enunciado.pdf
*Enunciado Imprimible.pdf
*generador_de_cartas.py
*grilla.py
*cliente.py\grafo.json
*server.py\grafo.json
*grafo.json
*.pdf
*sprites
*sprites/
*__pycache__
*__pycache__/
*generador_grilla.py
*server\generador_grilla.py